<h3>{{'my-items.activeItems' | translate}}</h3>
<hr>
<div class="alert alert-warning" *ngIf="!haveActiveItems">{{'my-items.noActiveItems' | translate}}</div>
<div class="card m-4" *ngFor="let item of myActiveItems">
    <div class="card-header">
        <h5>
            <a routerLink="/item/details/{{item._id}}">{{item.name}}</a>
        </h5>

    </div>
    <div class="card-body bg-dark">
        <blockquote class="blockquote mb-0">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{item.imageUrl}}" alt="Alternate Text" height="120" width="150" />
                </div>
                <div class="col-md-8">
                    <p>{{item.description | shorten: 10}}</p>
                    <p>{{'my-items.price' | translate}}: {{item.price}} $</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger" routerLink="/item/delete/{{item._id}}">{{'my-items.delete' | translate}}</a>
                </div>
            </div>

        </blockquote>
    </div>
</div>
<h3>{{'my-items.expiredItems' | translate}}</h3>
<hr>

<div class="alert alert-warning" *ngIf="!haveExpiredItems">{{'my-items.noExpiredItems' | translate}}</div>

<div class="card m-4" *ngFor="let item of expiredItems">
    <div class="card-header">
        <h5>
            <a routerLink="/item/details/{{item._id}}">{{item.name}}</a>
        </h5>
    </div>
    <div class="card-body bg-dark">
        <blockquote class="blockquote mb-0">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{item.imageUrl}}" alt="Alternate Text" height="120" width="150" />
                </div>
                <div class="col-md-8">
                    <p>{{item.description | shorten: 10}}</p>
                    <p>{{'my-items.price' | translate}}: {{item.price}} $</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger" routerLink="/item/delete/{{item._id}}">{{'my-items.delete' | translate}}</a>
                </div>
            </div>
        </blockquote>
    </div>
</div>