.card{
    color: lightcyan;
    border: solid;
    border-color: black;
}
.card-header{
    background-color: darkgray;
}
h3{
    margin-top: 20px;
    text-align: center;
}
h5{
    text-align: center;
}
.alert{
    margin-left: 200px;
    margin-right: 200px;

    margin-top: 30px;
    text-align: center;
}