<h3>ACTIVE ITEMS</h3>
<hr>
<h5 *ngIf="!myActiveItems">No active Items!</h5>
<div class="card m-4" *ngFor="let item of myActiveItems">
    <div class="card-header">
        <h5>
            <a routerLink="/item/details/{{item._id}}">{{item.name}}</a>
        </h5>

    </div>
    <div class="card-body bg-dark">
        <blockquote class="blockquote mb-0">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{item.imageUrl}}" alt="Alternate Text" height="120" width="150" />
                </div>
                <div class="col-md-10">
                    <p>{{item.description}}</p>
                    <p>Price: {{item.price}} $</p>
                </div>
            </div>
        </blockquote>
    </div>
</div>
<h3>EXPIRED ITEMS</h3>
<hr>
<h5 *ngIf="!expiredItems">No expired Items!</h5>
<div class="card m-4" *ngFor="let item of expiredItems">
    <div class="card-header">
        <h5>
            <a routerLink="/item/details/{{item._id}}">{{item.name}}</a>
        </h5>
    </div>
    <div class="card-body bg-dark">
        <blockquote class="blockquote mb-0">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{item.imageUrl}}" alt="Alternate Text" height="120" width="150" />
                </div>
                <div class="col-md-10">
                    <p>{{item.description}}</p>
                    <p>Price: {{item.price}} $</p>
                </div>
            </div>
        </blockquote>
    </div>
</div>