<h3>{{'delete-item.deleteQuestion' | translate}}</h3>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <a class="btn btn-danger" (click)="deleteItem()">{{'delete-item.yes' | translate}}</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary" routerLink="/item/myItems">{{'delete-item.no' | translate}}</a>
    </div>
</div>
<div class="row">
    <img src="{{model.imageUrl}}" alt="" width="450">
    <div class="myCls">
        <p>{{'delete-item.name' | translate}}: {{model.name}}</p>
        <p>{{'delete-item.description' | translate}}: {{model.description}}</p>
        <p>{{'delete-item.price' | translate}}: {{model.price}}$</p>
    </div>
</div>