.card{
    margin-top: 30px;
    text-align: left;
    align-items: center;
    border-style: solid;
    border-color: black;
}
h5{
    background-color:cadetblue;
    border-style: solid;
    border-color: black;
}
img{
    border-style: solid;
    border-color: black;
}
.btn{
    margin-top: 20px;
}
p{
align-content: center;
}
.row{
    margin-bottom: 30px;
}