<h3>Make an Offer</h3>
<div class="row" >
    <div class="col-md-3"></div>
    <form class="myStyle col-md-6" *ngIf="!isCreator" #f="ngForm" (ngSubmit)="createOffer()">
        <div class="form-group">
            <label for="orderName">Item name:</label>
            <input type="text" [(ngModel)]="model.itemName" name="orderName" #orderName="ngModel" class="form-control"
                id="orderName" disabled>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" [(ngModel)]="model.price"
                name="price" #price="ngModel" disabled>
        </div>
        <div class="form-group">
            <label for="newPrice">Your offer:</label>
            <input type="number" class="form-control" min="{{model.price}}" id="newPrice" [(ngModel)]="model.newPrice"
                name="newPrice" #newPrice="ngModel" required>
            <div [hidden]="newPrice.value > price.value || newPrice.pristine" class="alert alert-danger">
                Your offer must be bigger from the Price!
            </div>
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        </div>
        <div class="form-group">
            <label for="shipingAddress">Shiping Address:</label>
            <input type="text" class="form-control" id="shipingAddress" [(ngModel)]="model.shipingAddress"
                name="shipingAddress" #shipingAddress="ngModel" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="f.form.invalid">Submit</button>
    </form>
    <div class="alert alert-danger col-md-6" *ngIf="isCreator">Cannot make an offer because this is your Item!</div>
</div>
