<form class="form-inline row" #f="ngForm" (ngSubmit)="search()">
    <input class="form-control col-md-10 " type="text" id="name" name="name"
    placeholder="{{'auction.search' | translate}}" required [(ngModel)]="model.name" #name="ngModel">
    <button class="btn btn-primary col-md-2" type="submit">{{'auction.search' | translate}}</button>
</form>

<div class="alert alert-danger" *ngIf="!haveItems">{{'auction.noItems' | translate}}</div>
<div class="alert alert-danger" *ngIf="!haveSearchedItems && haveItems">{{'auction.serachResultMessage' | translate}}</div>
<div class="row">
    <div class="col-md-3 card" *ngFor="let item of allItems" style="width: 18rem;">
        <a class="lightbox" href="{{item.imageUrl}}">
            <img class="card-img-top mt-2" src="{{item.imageUrl}}" alt="Card image cap" height="200">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{'auction.price' | translate}}: {{item.price}} $</p>
            <a class="btn btn-primary" routerLink="/item/details/{{item._id}}">{{'auction.details' | translate}}</a>
        </div>
    </div>
</div>