.card{
    text-align:center;
    background-color:dimgrey;
    color:lightcyan;
    border-style: solid;
    border-color: black;
    min-width: 80px;
    float: left;
    width: 29%;
    margin: 2%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
    min-width: 80px;

}
.row{
    margin-left: 110px;
    box-sizing: border-box;
}
img{
    border-style: solid;
    border-color: black;
}
.form-inline{
    width: 80%;
    margin: auto;
    margin-top:30px;
    border: solid;
  
}
.alert{
    width: 80%;
    margin: auto;
    margin-top:30px;
    border: solid;
    text-align: center;
}
.card:hover{
    border: red 1px;
    border-style: solid;

}

#all{
    width: 80%;
    margin: auto;
}
.card-body a{
    box-sizing: border-box;
    border-radius: 10%;
}
form>input{
    flex: auto;
}