h2{
    margin-top: 20px;
    text-align: center;
}
.myDiv{
    color: black;
    margin-top: 25px;
    background-color: darkgray;
    border: black;
    border-style: solid;
}
.alert{
    border: solid;
    margin-top: 30px;
    text-align: center;
}
.asl{
    border-right: solid;
}