.container{
    max-width: 50em;
    margin: auto;
    padding-bottom: 10px;
}
h3{
    margin-top: 20px;
    text-align:center;
}
.myC{
    background-color:darkcyan;
    color: black;
    border-style: solid;
}
.btn{
    margin: 13px;
}
.form-group{
    padding-left: 10px;
    padding-right: 10px;

}
.form-control:hover{
    background-color: gray;
    cursor: pointer;
}