<div class="card text-white bg-primary mb-10" style="max-width: 40rem;">
    <div class="card-header">{{model.name}}</div>
    <div class="card-body">
        <p class="card-text">Description: {{model.description}}</p>
        <p class="card-text">Price : {{model.price}} $</p> 
        <p *ngIf="isLogged" class="card-text" routerLink="/order/edit/{{model._id}}">Edit</p>   
        <p *ngIf="isLogged" class="card-text" routerLink="/offer/create/{{model._id}}">Make an offer!</p>   
    </div>
    <div class="row">
        
        <img src="{{model.imageUrl}}"  width="200">
    </div>
</div>