<h3>Register</h3>
<div class="row">
<div class="col-md-3"></div>
<form class="col-md-6" #registrationForm="ngForm" (ngSubmit)="register()">
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
                placeholder="Enter Email" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required [(ngModel)]="model.email" #email="ngModel">
                <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
                <div *ngIf="email.errors.pattern">Email is not valid!</div>
                <div *ngIf="email.errors.required">Email is required!</div>                       
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputFirstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="firstNameHelp"
                placeholder="Enter First name"  required [(ngModel)]="model.firstName" #firstName="ngModel">
            <div [hidden]="firstName.value.length >= 2 || firstName.pristine" class="alert alert-danger">
                First name must be at lest 2 characters!
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputLastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="lastNameHelp"
                placeholder="Enter last name"  required [(ngModel)]="model.lastName" #lastName="ngModel">
            <div [hidden]="lastName.value.length >= 2 || lastName.pristine" class="alert alert-danger">
                Last name must be at lest 2 characters!
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Phone number</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" aria-describedby="phoneNumber"
                placeholder="Enter Phone Number" required pattern="^[0-9]+$" [(ngModel)]="model.phoneNumber"
                #phoneNumber="ngModel">
            <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
                Invalid Phone number!
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Password"
                required [(ngModel)]="model.password" #password="ngModel" minlength="3">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    Password must be at lest 3 characters!
                </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Repeat Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="repeatPassword"
                placeholder="Repeat Password" required [(ngModel)]="model.repeatPassword" #repeatPassword="ngModel">
                <div [hidden]="password.value === repeatPassword.value || repeatPassword.pristine" class="alert alert-danger">
                    Passwords must be match!
                </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registrationForm.form.invalid">Submit</button>
    </fieldset>
</form>
</div>