<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/order/all"><A>AUCTION</A></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/order/create">Create order</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" routerLink="/order/all">All order</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link"routerLink="/order/edit">Edit order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto float-lg-right">
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link"(click)="logoutHandler()">Logout</a>
            </li>
        </ul>
    </div>
</nav>