<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>All Offers for this Item</h2>
        <div class="myDiv row" *ngFor="let offer of allOffers">
            <div class="col-md-6">
                Item:{{offer.itemId.name}}
                <hr>
                End date:{{offer.itemId.timeLimit}}
            </div>
            <div class="col-md-6">
                Price: {{offer.price}}$
                <hr>
                Address:{{offer.shipingAddress}} Phone: {{offer.userId.phoneNumber}}
            </div>
        </div>
    </div>
</div>
